<!-- <form (ngSubmit)="createAccount()">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>{{'label.email' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="user.email" name="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>{{'label.password' | translate }}</ion-label>
          <ion-input type="password" [(ngModel)]="user.password" name="pass"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>{{'label.address' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="user.address" name="address"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
          <ion-button expand="block" type="submit">{{ 'label.create.account' | translate }}</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
          <ion-button expand="block" type="button" (click)="exit()">{{ 'label.back' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form> -->

<form (ngSubmit)="createAccount()">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>{{'label.email' | translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="user.email" name="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>{{'label.password' | translate}}</ion-label>
          <ion-input type="password" [(ngModel)]="user.password" name="pass"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>{{'label.address' | translate}}</ion-label>
          <ion-input type="text" [(ngModel)]="user.address" name="address"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" type="submit">{{'label.create.account' | translate}}</ion-button>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" type="button" (click)="exit()">{{'label.back' | translate}}</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</form>
