<ion-menu side="end" content-id="content">
  <ion-header>
    <ion-toolbar translucent color="light">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header translucent>
  <ion-toolbar>

    <ion-buttons slot="start" class="back-button">
      <ion-icon name="arrow-back-outline" *ngIf="showBackButton()" color="light" (click)="goBack()"></ion-icon>
    </ion-buttons>

    <ion-title class="ion-text-center">
      <img class="logo" src="/assets/img/logo_app.jpg" />
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
