<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ng-container *ngIf="orderService.numProducts() === 0">
        <ion-text>{{'label.no.products' | translate}}</ion-text>
      </ng-container>

      <ng-container *ngIf="orderService.numProducts() > 0">
        <ion-item-sliding *ngFor="let product of orderService.order.productsOrder">

          <ion-item (click)="showDetail(product)">
            <ion-label>{{ product.name | translate }}</ion-label>
          </ion-item>

          <ion-card>
            <ion-card-content>
              <ion-item lines="none">
                <ion-label>{{ 'label.quantity' | translate }}</ion-label>
                <ion-text>
                  <ion-icon name="remove-circle-outline" (click)="orderService.order.oneLessProduct(product)"></ion-icon>
                    {{ product.quantity }}
                  <ion-icon name="add-circle-outline" (click)="orderService.order.oneMoreProduct(product)"></ion-icon>
                </ion-text>
              </ion-item>
            </ion-card-content>
          </ion-card>

          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="remove(product)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>

        </ion-item-sliding>
      </ng-container>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <ion-text>{{('label.total.order' | translate) + orderService.totalOrder() + 'R$'}}</ion-text>
    </ion-col>
  </ion-row>
</ion-grid>
