<ion-content fullscreen>
  <ng-container *ngIf="product.extras">
    <ion-grid>
      <ion-row *ngFor="let extra of product.extras">
        <ion-col size="12" *ngFor="let extraProduct of extra.products">
          <ion-card class="product">
            <div class="ion-text-center">
              <img [src]="extraProduct.img" />
            </div>
            <ion-card-header>
              <ion-card-title>{{ extraProduct.name | translate }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ng-container *ngIf="extraProduct.options.length === 1">
                <ion-checkbox [(ngModel)]="extraProduct.options[0].activate" name="check"></ion-checkbox>
                <ion-text class="price-checkbox">{{'R$ ' + (extraProduct.options[0].activate ? extraProduct.options[0].price : '0')}}</ion-text>
              </ng-container>
              <ng-container *ngIf="extraProduct.options.length > 1">
                <ion-text class="price-radio">{{'R$ ' + extraProduct.optionSelected.price }}</ion-text>
                <ion-radio-group [(ngModel)]="extraProduct.optionSelected">
                  <ion-item lines="none" *ngFor="let option of extraProduct.options">
                    <ion-label>{{ option.name | translate }}</ion-label>
                    <ion-radio slot="start" [value]="option"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ng-container>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-container *ngIf="!product.extras">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card class="product">
            <img [src]="product.img" />
            <ion-card-header>
              <ion-card-title>{{('label.price' | translate)+ ': ' + 'R$ '+ product.price}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addProductOrder()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
